@model EMS.Model.ViewModels.AttendenceVM
@{
    ViewBag.Title = "GetAttendence";
}

<style>
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
</style>

<div class="row" style="margin-top:5rem;">
    <div class="col-sm-offset-2 col-sm-8 ">
        @if (ViewBag.Attendence != null)
        {
            <form>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Employee Id:</label>
                        <div class="col-md-9">
                            <input type="text" id="fname" name="EmpId" value="@Model.EmployeeId" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Date Of Attendence:</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.AttendenceOn, "{0:yyyy-MM-dd}", new { @readonly = "readonly", @type = "date", @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Working Hours:</label>
                        <div class="col-md-9">
                            <input type="text" id="fname" name="WorkingHours" value="@Model.WorkingHours" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div>
                <form action="/Admin/UserProfile/GetAttendenceByEmpId" method="Get">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Employee Id:</label>
                            <div class="col-md-9">
                                <input type="text" id="fname" name="EmpId" value="" class="form-control ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Date Of Attendence:</label>
                            <div class="col-md-9">
                                <input type="date" name="DateOfAttendence" id="MeetingFromDate" value="" class="form-control " />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-md-9">
                                <input type="submit" class="btn btn-success" value="Submit">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        alert("Hello");
</script>

