@model EMS.Model.EmployeeAttendence
@{
    ViewBag.Title = "GetAttendence";
}

@if (ViewBag.Attendence != null)
{
    <form>
        <label for="fname">EmpId:</label><br>
        <input type="text" id="fname" name="EmpId" value="@Model.FKEmployeeId" class="form-control" readonly><br>
        <label for="lname">Date Of Attendence:</label><br>
        @Html.TextBoxFor(m => m.AttendanceOn, "{0:yyyy-MM-dd}", new { @readonly = "readonly", @type = "date", @class = "form-control" })
        @*<input type="date" name="AttendanceOn" id="MeetingFromDate" value="@Model.AttendanceOn" class="form-control " readonly /><br />*@
        <label for="fname">Working Hours:</label><br>
        <input type="text" id="fname" name="WorkingHours" value="@Model.WorkingHours" class="form-control" readonly><br>
    </form>
}
else
{
    <div>
        <form action="/Admin/UserProfile/GetAttendenceByEmpId" method="Get">
            <label for="fname">EmpId:</label><br>
            <input type="text" id="fname" name="EmpId" value=""><br>
            <label for="lname">Date Of Attendence:</label><br>
            <input type="date" name="DateOfAttendence" id="MeetingFromDate" value="" class="form-control " /><br />
            <input type="submit" value="Submit">
        </form>
    </div>
}
<script>
    $(document).ready(function () {
        alert("Hello");
</script>

